<div>
    <h2 id="page-heading">
        <div class="flex justify-content-between">
            <span>Depenses</span>
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-depense"
                [routerLink]="['/depense/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>
                    Create new Depense
                </span>
            </button>
        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <br />
    <div class="table-responsive" *ngIf="depenses">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th scope="col-sd-0 col" class="hide"  jhiSortBy="id"><span>ID</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col"  jhiSortBy="libelle"><span>Libelle</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" class="hide"  jhiSortBy="montant"><span>Montant</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" class="hide"     jhiSortBy="description"><span>Description</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" class="hide"  jhiSortBy="dateFacturation"><span>Date Facturation</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th scope="col" class="hide"  jhiSortBy="typeDepenseId"><span>Type Depense</span>
                        <fa-icon [icon]="'sort'"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let depense of depenses ;trackBy: trackId">
                    <td class="hide" ><a [routerLink]="['/depense', depense.id, 'view' ]">{{depense.id}}</a></tdscope="col" class="hide">
                    <td>{{depense.libelle}}</td>
                    <td class="hide">{{depense.montant}}</td>
                    <td class="hide">{{depense.description}}</td>
                    <td class="hide">{{depense.dateFacturation | date:'dd/mm/yyyy'}}</td>
                    <td class="hide">
                        <div *ngIf="depense.typeDepenseId">
                            <a
                                [routerLink]="['../type-depense', depense.typeDepenseId , 'view' ]">{{depense.typeDepenseName}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/depense', depense.id, 'view' ]"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/depense', depense.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', 'depense', { outlets: { popup: depense.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="depenses && depenses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage">
            </jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
