@media only screen and (max-width:2000px){
  #main_div{margin: 2% 1% 2% 16%;}
}
@media only screen and (max-width:1000px){
  #main_div{margin: 2% 1% 2% 10%;}
}
@media only screen and (max-width:600px){
  #main_div{margin: 2% 1% 2% 16%;}
}

